<mat-toolbar color="primary">
  <a href="/home">
    <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </button>
  </a>
  
  <span>Exam Server</span>
  <span class="example-spacer"></span>

  <a href="/login">
    <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </button>
  </a>
  
  <a href="/signup">
    <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>how_to_reg</mat-icon>
  </button>
  </a>
</mat-toolbar> 
