<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <!-- logo -->
                <div class="container">
                    <img class="logo" src="../../../assets/logo.JPG" alt="">
                </div>
                <h1 class="text-center">SIGN UP !!</h1>
                <form (ngSubmit)="register()">
                    <!-- username -->
                    <mat-form-field class="full-width">
                        <mat-label>User Name</mat-label>
                        <input required
                        [(ngModel)]="user.username" name ="username" 
                        matInput>
                    </mat-form-field>

                    <!-- password -->
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input required type="password" 
                        [(ngModel)] ="user.password" name ="password" 
                        matInput>
                    </mat-form-field>

                    <!-- firstname -->
                    <mat-form-field class="full-width">
                        <mat-label>First Name</mat-label>
                        <input required
                        [(ngModel)] = "user.firstName" name = "firstName"
                        matInput>
                    </mat-form-field>


                    <!-- lastname -->
                    <mat-form-field class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input required
                        [(ngModel)] = "user.lastName" name = "lastName"
                        matInput>
                    </mat-form-field>

                    <!-- email -->
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input required
                        [(ngModel)] = "user.email" name = "email"
                        type="email" matInput>
                    </mat-form-field>

                    <!-- phone -->
                    <mat-form-field class="full-width">
                        <mat-label>Phone No.</mat-label>
                        <input required
                        [(ngModel)] = "user.phone" name = "phone"
                        type="number" matInput>
                    </mat-form-field>

                    <!-- register button -->
                    <div class="container text-center">
                        <div class="example-button-row">
                            <button type="submit" mat-flat-button color="primary">Register</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>